{##
 # Contact details component
 # @param {string} heading
 # @param {Asset} map
 # @param {Redactor} address
 # @param {Redactor} contact
 # @param {Redactor} hours
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set map = map|default(null) %}
{% set address = address|default('') %}
{% set contact = contact |default('') %}
{% set hours = hours|default('') %}

{# Variables #}
{% set handle = 'contact-details' %}

{# Markup #}
<div class="{{ handle }}">
    {% if heading is not empty %}
        <h2>{{ heading }}</h2>
    {% endif %}
    <div class="{{ handle }}__map-cont">
        {% if map %}
            <a
                href="https://www.google.com/maps/search/?api=1&query={{ address|striptags|url_encode }}"
                title="View Address"
                target="_blank">
                <img src="{{ map.url }}" alt="Arial map of Charlotte" />
            </a>
        {% endif %}
    </div>
    <div class="{{ handle }}__details-cont">
        <div class="{{ handle }}__address-cont">
            <address>
                {{ address }}
            </address>
        </div>
        <div class="{{ handle }}__contact-cont">
            {{ contact }}
        </div>
        <div class="{{ handle }}__hours-cont">
            {{ hours }}
        </div>
    </div>
</div>
