{##
 # Header component
 # @global {GlobalSet} header
 # @param {Entry} entry
 #}

{# Params #}
{% set links = header.headerLinks.all() %}
{% set overview = header.headerOverview %}

{% set invertLogo = entry and entry.pageOptions.invertLogo %}
{% set hideMenuSummary = entry and entry.pageOptions.hideMenuSummary %}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'header' %}
{% set activeClass = 'is-active' %}

{# Markup #}
{% import '_macros/components' as components %}

<div id="{{ id }}" class="{{ handle }}">
    <a href="/" title="Home" class="{{ invertLogo ? 'is-inverted' }}">
        {% include '_components/icon' with { icon: 'logo' } %}
    </a>
    <input type="checkbox" id="nav-toggle" style="display:none" />
    <label for="nav-toggle">
        <span>Menu</span>
        <span>Close</span>
    </label>
    <nav>
        {% for l in links %}
            {% set url = l.linkPage.one().url|default(siteUrl) %}

            <a
                href="{{ url }}"
                title="{{ l.linkTitle }}"
                class="{{ url == url(craft.app.request.pathInfo) ? activeClass }}">
                {{ l.linkTitle }}
                {% if loop.last %}
                    {% include '_components/icon' with { icon: 'arrow-right' } %}
                {% endif %}
            </a>
        {% endfor %}
    </nav>
    {% if not hideMenuSummary %}
        <footer>{{ overview }}</footer>
    {% endif %}

    {{ components.new(handle, {
        id: id,
    }) }}
</div>
