{##
 # Header component
 # @global {GlobalSet} gHeader
 #}

{# Params #}

{# Variables #}
{% set handle = 'header' %}
{% set activeClass = 'is-active' %}

{% set links = [
    { url: '', title: 'Overview' },
    { url: 'services', title: 'Services' },
    { url: 'projects', title: 'Projects' },
    { url: 'about', title: 'About Us' },
    { url: 'contact', title: 'Contact' },
] %}

{# Markup #}
<div class="{{ handle }}">
    <a href="/" title="Home">
        LOGO
    </a>
    <input type="checkbox" id="nav-toggle" style="display:none" />
    <label for="nav-toggle">
        <span>Menu</span>
        <span>Close</span>
    </label>
    <nav>
        {% for link in links %}
            <a
                href="{{ siteUrl(link.url) }}"
                title="{{ link.title }}"
                {% if link.url is not empty and link.url in craft.app.request.pathInfo %}
                    class="{{ activeClass }}"
                {% endif %}
            >
                {{ link.title }}
            </a>
        {% endfor %}
    </nav>
    <footer>
        Williams Concrete offers turn-key concrete packages to meet any commercial need.
    </footer>
</div>
