{##
 # Header component
 # @global {GlobalSet} header
 #}

{# Params #}
{% set links = header.headerLinks.all() %}
{% set overview = header.headerOverview %}

{% set invertLogo = entry and entry.invertLogo is defined and entry.invertLogo %}

{# Variables #}
{% set handle = 'header' %}
{% set activeClass = 'is-active' %}

{# Markup #}
<div class="{{ handle }}">
    <a href="/" title="Home" class="{{ invertLogo ? 'is-inverted' }}">
        {% include '_components/icon' with { icon: 'logo' } %}
    </a>
    <input type="checkbox" id="nav-toggle" style="display:none" />
    <label for="nav-toggle">
        <span>Menu</span>
        <span>Close</span>
    </label>
    <nav>
        {% for l in links %}
            {% set url = l.linkPage.one().url|default(siteUrl) %}

            <a
                href="{{ url }}"
                title="{{ l.linkTitle }}"
                class="{{ url == url(craft.app.request.pathInfo) ? activeClass }}">
                {{ l.linkTitle }}
                {% if loop.last %}
                    {% include '_components/icon' with { icon: 'arrow-right' } %}
                {% endif %}
            </a>
        {% endfor %}
    </nav>
    <footer>{{ overview }}</footer>
</div>
