{##
 # Modal component
 #}

{# Globals #}
{% set modalFull = modalFull|default('false') %}
{% set modalPosition = modalPosition|default('center') %}
{% set modalSize = modalSize|default('lg') %}

{# Variables #}
{% set handle = 'modal' %}
{% set id = craft.utilities.uniqueId() %}
{% set overlayHandle = handle ~ '__overlay' %}
{% set contentHandle = handle ~ '__content' %}
{% set closeHandle = handle ~ '__close' %}
{% set activeClass = 'is-active' %}

{# Markup #}
<div
  id="{{ id }}"
  class="{{ handle }}"
  data-full="{{ modalFull }}"
  data-position="{{ modalPosition }}"
  data-size="{{ modalSize }}">
  <div class="{{ overlayHandle }}"></div>
  <div class="{{ handle }}__content-cont">
    <div class="{{ handle }}__close-cont">
      <button type="button" title="Close" class="{{ closeHandle }}">
        {% include '_components/icon' with { icon: 'x' } %}
      </button>
    </div>
    <div class="{{ contentHandle }}"></div>
  </div>

  {# Instantiate JS component class #}
  {% set jsConfig = {
    handle: handle,
    id: id,
    overlayHandle: '.' ~ overlayHandle,
    contentHandle: '.' ~ contentHandle,
    closeHandle: '.' ~ closeHandle,
    activeClass: activeClass,
  } %}

  <script type="text/javascript">
    window[{{ constant('SITE_HANDLE')|json_encode|raw }}].components.push({{ jsConfig|json_encode|raw }});
  </script>
</div>

