{##
 # Next ctas component
 # @param {[]MatrixBlock} ctas
 #}

{# Params #}
{% set ctas = ctas|default([]) %}

{# Variables #}
{% set handle = 'next-ctas' %}

{# Markup #}
{% if ctas is not empty %}
    <div class="{{ handle }}">
        {% for cta in ctas %}
            <a
                href="{{ cta.ctaLink.linkPage.one()|default('') }}"
                title="{{ cta.ctaLink.linkTitle }}">
                <h3>{{ cta.ctaHeading }}</h3>
                <em>
                    {{ cta.ctaLink.linkTitle }}
                    {% include '_components/icon' with { icon: 'arrow-right' } %}
                </em>
            </a>
        {% endfor %}
    </div>
{% endif %}
