{##
 # Ordered list component
 # @param {[]MatrixBlock} items
 #}

{# Params #}
{% set items = items|default([]) %}

{# Variables #}
{% set handle = 'ordered-list' %}

{# Markup #}
{% if items is not empty %}
    <div class="{{ handle }}">
        <ul>
            {% for item in items %}
                <li>
                    <div>
                        <em>{{ loop.index < 10 ? '0' }}{{ loop.index }}</em>
                        <h2>{{ item.itemTitle }}</h2>
                    </div>
                    <p>{{ item.itemBody }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
